body {position: relative;
    width: 1440px;
    height: 2597px;
    background: #FAF9F8;
}

.logo {
    width: 20%; 
    height: 20%; 
    object-position: left;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

nav{
    height: 80px;
    width: 90%;
    margin: 20px 50px 20px 50px;
    display: inline-block;
    top: 0;
}

.rightnav {
    margin-right: 20px;
}

ul {
    width: 50%;
    margin-left: auto;
}
p {
position: relative;
width: 834px;
height: 192px;
left: 175px;
top: 314px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
color: #454344;
}
.heroImg{
position: relative;
width: 306px;
height: 306px;
left: 1065px;
top: 257px;
}
.content{
    width: 500px;
    margin: 0 auto;
}

.paloAlto{
position: relative;
width: 1322.25px;
height: 467px;
left: 56.75px;
top: 676px;
border: 2px solid rgba(69, 67, 68, 0.7);
box-sizing: border-box;    
}
